
ul.enumeration {
  list-style-type: none;
  padding-left: 0;

  li {
    position: relative;
    margin-bottom: .5rem;
    padding-left: .5rem;

    &::before {
      content: '';
      position: relative;
      display: inline-block;
      width: .5rem;
      height: .5rem;
      left: -0.5rem;
      top: -0.05rem;
      border-radius: .1rem;
      background-color: $primary-color;
    }
  }
}
