
header {
  position: relative;
  width: 100%;
  min-height: auto;
  color: #ffffff;

  &.home {
    text-align: center;
    background-image: url('/assets/images/background.jpg');
    background-position: center;
    background-size: cover;
    min-height: 100%;

    padding: 10rem 0 10rem 0;

    .header-content {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);

      h1 {
        font-size: 4rem;
        text-transform: capitalize;
      }

      .btn-primary {
        margin-top: 2rem;
      }
    }
  }

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  header.full-screen {
    min-height: 100vh;
  }
}
