.home-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: .3rem .7rem;

  text-align: center;

  border-radius: .5rem;

  color: white;
  background-color: #333333;
  opacity: 0;

  font-size: .8rem;

  transition-property: 'opacity';
  transition-duration: .2s;

  &:hover {
    text-decoration: none;
  }

  &.show {
    opacity: .5;
    transition-property: 'opacity';
    transition-duration: 2s;
  }
}
