#navbar-pixel {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 6rem;
  left: 0;
}

.navbar.fixed-top {
  background-color: rgba(34, 34, 34, .7);
  border-bottom: rgba(255, 255, 255, .6) 1px solid;
  transition: all .35s;
  color: rgba(255, 255, 255, .7);
}

@media (min-width: 992px) {
  .navbar.fixed-top {
    background-color: rgba(34, 34, 34, .5);
    height: 3.5rem;

    .navbar-brand {
      text-transform: uppercase;
    }

    &.solid {
      background-color: #ffffff;
      border-bottom: rgba(34, 34, 34, .2) 1px solid;
      height: 3rem;
  
      .navbar-brand {
        color: $primary-color;
        font-size: 1rem;
        transition-property: 'font-size';
        transition-duration: .2s;
      }
  
      .nav-item > .nav-link {
        color: #222222;
      }

      .nav-item > .nav-link.active {
        color: $primary-color;
      }
    }
  }
}
