.social-media-link {
  margin-top: .3rem;
  margin-bottom: .5rem;

  img {
    width: 1.5rem;
    height: 1.5rem;
  }

  a {
    color: white;
    margin-left: .2rem;
    vertical-align: middle;
  }
}
